<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<!-- Perfil privado -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Privado</web-resource-name>
			<url-pattern>/rest/api/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- Perfil público -->
	
	<security-role>
		<role-name>*</role-name>
	</security-role>
	<login-config>

	</login-config>

</web-app>